<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057636193371-fefp5fmqsdss3cldjlrdcu4q29tf0fdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057636193371-fefp5fmqsdss3cldjlrdcu4q29tf0fdf</string>
	<key>API_KEY</key>
	<string>AIzaSyDXVjCUsAbls1azawMkBc1Hl_j-mCcIYms</string>
	<key>GCM_SENDER_ID</key>
	<string>1057636193371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anatoliyostapenko.github.io.Museum-UIKit</string>
	<key>PROJECT_ID</key>
	<string>museum-uikit</string>
	<key>STORAGE_BUCKET</key>
	<string>museum-uikit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057636193371:ios:11585b3030732cd0eb5b7e</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
